/* 本文 */
.article {
    width: 600px;
    min-height: 1500px;
    float: left;
    background-color: white;
    position: center;
/*    margin: auto;*/
    font-size: 18px;
    /* padding-top: 20px; */
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 0 0 8px gray;
    margin: 8px;
}

@media (max-width: 480px) {

.article {
float: none;
font-size: 27px;
width: 90%;
padding-left: 5px;
padding-right: 5px;
line-height: 60px;
padding-top: 30px;
margin: auto;
}
/* .article *{
  font-size: 120px;
} */
h2 {
  font-size: 64px;
  line-height: 60px;
}

h3 {
  font-size: 50px;
}

text {
  line-height: 60px;
}

h4 {
  line-height: 50px;

}

.box2 {
  font-size: 40px;
  line-height: 60px;
}
.box4 {
    line-height: 60px;
}

}

@media (max-width: 960px){

  .article {
  float: none;
  font-size: 32px;
  width: 90%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  line-height: 60px;
  margin: auto;
  }

p {
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-size: 64px;
  line-height: 60px;
}

h3 {
  font-size: 50px;
}

text {
  line-height: 60px;
}

h4 {
  line-height: 50px;

}

.box {
  margin-top: 100px;
  margin-bottom: 100px;
}

.box2 {
  font-size: 40px;
  line-height: 60px;
}
.box4 {
    line-height: 60px;
}

}
