/* ヘッダーの背景画像 */
.headerbg {
    /* background-size: cover; */
    text-align: center;
    /*    background-color: #FFFFCC;*/
    /* width: 1280px; */
    width: 100%;
    height: auto;
    font-size: 0;
}

.headerbg img {
    /*  width: 1000px;*/
    width: 100%;
    font-size: 12px;

}

/* ヘッダーの本文 */
.header {
    position: relative;
    margin: auto;
    /*    padding: 10px 0;*/
    width: 100%;
    background-color: #fff;
    /* margin-bottom: 50px; */
    color: white;
}

.header_main {
    position: absolute;
    bottom: 30%;
    opacity: 0.9;
    font-size: 2vh;
    
    margin: auto;
    text-align: center;
    width: 100%;
/*    height: 20%;*/
    background-color: #1E2C38;
}

.header_logospace {
    width: 100%;
    height: 120px;
    
}

#header_logo {
    position: absolute;
    
    top: 0;
    bottom: 0;
    left: 100px;
    margin: auto;
    
    width: auto;
    height: 80%;
    
}

.new_header {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #fff;
}
