/*********** common style *************/
.menu {
    text-align: center;
    width: 100%;
}
.menu_container ul {
    overflow: hidden;
    list-style-type: none;
}

.menu_container a {
    text-decoration: none;
    font-weight: bold;
}

@keyframes button_hover {
    20% {
        background-color: #8a5a0c;
    }

    100% {
        background-color: #966618;
    }
}

.menu_container ul :hover {
    animation: button_hover 0.5s ease -0.25s infinite alternate;
}
/*********** large screens ************/
@media (min-width: 912px) {
    #close_menu {
        display: none;
    }

    #open_menu {
        display: none;
    }

    .menu_container {
        background-color: #1E2C38;
        display: inline-block;
        width: 100%;
    }

    .menu_container ul {
        padding-left: 15%;
    }

    .menu_container li {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 210px;
        padding: 0px 0px 0px 0px;
    }

    .menu_container a {
        color: #ffffff;
        display: block;
        padding: 20px 0px;
        font-size: 20px;
    }


}

/**************************************/

/*********** smart screens ************/
@media (max-width: 912px) {
  .menu {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 1vw 1vw 0vw 0vw;
    text-align: right;
  }

  .menu_container {
    background-color: rgba(32,48,56, 0.5);
  }

  .menu_container li {
    text-align: center;
    padding: 1.2vw 0px;
  }

  .menu_container a {
      color: #7777ff;
      font-size: 3.2vw;
  }

  .menu .fas {
    font-size: 8vw;
  }

  .none {
    display: none;
  }

  @keyframes open {
    0% { height: 0px; }
    100% { height: 100vw; }
  }
  @keyframes close {
    0% { height: 100vw; }
    100% { height: 0px; }
  }
  .close {
    animation: close 1s ease 0s 1 alternate;
  }
  .open {
      animation: open 1s ease 0s 1 alternate;
  }
}
/**************************************/
