/* サイドバー */
.sidebar {
  width: 300px;
  min-height: 500px;
  float: right;
  margin: auto;
  background-color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.sidebar > img {
  width: 70%;
  border-radius: 50%;
  margin-top: 100px;
  margin: auto;
}

@media (max-width: 480px) {

.sidebar{
float: none;
font-size: 12px;
width: 90%;
margin: auto;
}
}

@media (max-width: 960px){

.sidebar {
  float: none;
  font-size: 12px;
  width: 90%;
  margin: auto;
}
}
