/* small screens */

.btn {
    margin-right: 30px;
}


body {
    width: 100%;
    background-color: #84838F;
    font-size: 14px;
/*fontを設定*/
    font-family: 'Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic''ＭＳ ゴシック','Helvetica Neue','Helvetica','Arial',sans-serif;
    margin: auto;
    color: #333;

    /*背景の縞々を以下の記述で設定*/
    /*
    background-image: linear-gradient(#ecebeb 50%, transparent 50%, transparent);
    background-size: 10px 10px;
*/

    /*    background-color: #3F51B5;*/

    /*背景の模様を以下の記述で設定*/
    background-color: rgba(250, 250, 250, 1);
    background-image:
        radial-gradient(closest-side,
            transparent 99.9%, #D8E1E3 100%),
        radial-gradient(closest-side,
            transparent 99.9%, #D8E1E3 100%);
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
}

/*
center {
    margin: auto;
    text-align: center;
    width: 85%;
}
*/

/* articleとsidebarの親要素 */

.container {
    width: 800px;
    overflow: hidden;
/*    position: relative;*/
  margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    /*    background-color: #FAD6CF;*/
    /*    background-color: #D8E1E3;*/
/*    background-color: #84838F;*/
    margin-top: 60px;
}


/* 本文の文字のスタイル */

h2 {
    line-height: 30px;
    margin-top: 100px;
}

p {
    line-height: 60px;
    margin: 0;
}


.sentence {
    line-height: 30px;
}



/* リスト関係 */

.list {
    font-weight: bold;
    height: auto;
    width: auto;
}

li {

    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.subtitle {
    margin-top: 100px;
    font-size: 30px;
    text-align: center;


}

.image1 img {
    width: 100%;
    height: 100%;

}

.image1 .text1 {
    position: relative;
    top: -250px;
    width: 65%;
    margin: auto;
    color: #DB493F;
    background-color: #fff;
    font-size: 25px;
    line-height: 130%;
    font-weight: bold;
    text-align: center;
}



.box {
    /*    background-color: #FDF5E6;*/
    background-color: #FAFAD2;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box2 {
    margin-top: 100px;
    font-weight: bold;
}

.box3 {
    margin-top: 100px;
    line-height: 60px !important;
    padding-top: 10px;
    margin-bottom: 50px;
}


.box4 {
    background-color: #FAFAD2;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 300px;
    margin-bottom: 50px;
}


h1 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}
h2 {
    position: relative;
    padding: 1em 0;
    text-align: center;
}

h2::before,
h2::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 6px;
    box-sizing: border-box;
}

h2::before {
    top: 0;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}

h2::after {
    bottom: 0;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

h3 {
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

h3:before,
h3:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
}

h3:before {
    left: 7px;
}

h3:after {
    right: 7px;
}


h4 {
    font-weight: bold;
    padding-left: 20px;
    padding-top: 70px;
    font-size: 24px;
}

.image2 {
  height: 150px;
  width: 180px;
  float:left;
  margin-left: 20px;
  box-shadow: 0 0 4px 4px gray;
}

.image3 {
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 150px;
}

.image4 {
  height: 80px;
  width: 600px;
  margin-top: 100px;
}

.method1 {
    padding-top: 30px;
    /* position: relative; */
    padding-left: 220px;
    width: 350px;
}



/* .container {
  margin: auto;
  max-width: 800px;
  background-color: #D2E9FB;
  padding: 10px;
} */

footer {
    height: 100px;
    background-color: #1E2C38;

    border: none;
    width: 100%;
    clear: both;
    height: 50px;
    text-align: center;
    font-size: 0.85em;
    background-image: url(img/footer.gif);
    background-repeat: no-repeat;
    padding-top: 30px;
    display: block;

    color: #fff;
}
}

@media (max-width: 480px) {

body {
  width: 480px;
  margin: auto;
}

.image2 {
  height: 200px;
  width: 250px;
}

}

@media (max-width: 960px) {
  body {
    width: 960px;
    margin: auto;
  }

  .image2 {
    height: 250px;
    width: 250px;
  }
}

/* 本文 */
.article {
    width: 700px;
    min-height: 1500px;
    float: left;
    background-color: white;
    position: center;
/*    margin: auto;*/
    font-size: 18px;
    /* padding-top: 20px; */
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 0 0 8px gray;
    margin: 8px;
}

@media (max-width: 480px) {

.article {
float: none;
font-size: 27px;
width: 90%;
padding-left: 5px;
padding-right: 5px;
line-height: 60px;
padding-top: 30px;
margin: auto;
}

.image2 {
  height: 200px;
  width: 250px;
}

.image4 {
  height: 120px;
  width: 850px;
  margin-top: 100px;
}

.method1 {
    padding-top: 0;
    /* position: relative; */
    padding-left: 300px;
    width: 500px;
}
/* .article *{
  font-size: 120px;
} */
h2 {
  font-size: 64px;
  line-height: 60px;
}

h3 {
  font-size: 50px;
}

text {
  line-height: 60px;
}

h4 {
  line-height: 50px;
}

.box2 {
  font-size: 40px;
  line-height: 60px;
}
.box4 {
    line-height: 60px;
}

}

@media (max-width: 960px){

  .article {
  float: none;
  font-size: 32px;
  width: 90%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  line-height: 60px;
  margin: auto;
  }

  .image2 {
    height: 220px;
    width: 250px;

  }

p {
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-size: 64px;
  line-height: 60px;
}

h3 {
  font-size: 50px;
}

text {
  line-height: 60px;
}

h4 {
  line-height: 50px;
  font-size: 32px;
}

.box {
  margin-top: 100px;
  margin-bottom: 100px;
}

.box2 {
  font-size: 40px;
  line-height: 60px;
}
.box4 {
    line-height: 60px;
}

}

/* ヘッダーの背景画像 */
.headerbg {
    /* background-size: cover; */
    text-align: center;
    /*    background-color: #FFFFCC;*/
    /* width: 1280px; */
    width: 100%;
    height: auto;
    font-size: 0;
}

.headerbg img {
    /*  width: 1000px;*/
    width: 100%;
    font-size: 12px;
    margin: auto;

}

/* ヘッダーの本文 */
.header {
    position: relative;
    /*    padding: 10px 0;*/
    width: 100%;
    background-color: #fff;
    /* margin-bottom: 50px; */
    color: white;
}

.header_main {
    opacity: 0.9;
    font-size: 20px;
    margin: 0;
    text-align: center;
    width: 100%;
/*    height: 20%;*/
    background-color: #1E2C38;
}

.header_logospace {
    width: 100%;
    height: 120px;
    margin: auto;
}

#header_logo {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 100px;
    margin: auto;

    width: auto;
    height: 80%;
    margin: auto;

}

.new_header {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #fff;
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    margin-left: 20px;
}
}


@media (max-width: 960px) {
    .header {
    width: 100%;
    margin-left: 20px;
  }
}

/*********** common style *************/
.menu {
    text-align: center;
    width: 100%;
}
.menu_container ul {
    overflow: hidden;
    list-style-type: none;
}

.menu_container a {
    text-decoration: none;
    font-weight: bold;
}

@keyframes button_hover {
    20% {
        background-color: #8a5a0c;
    }

    100% {
        background-color: #966618;
    }
}

.menu_container ul :hover {
    animation: button_hover 0.5s ease -0.25s infinite alternate;
}
/*********** large screens ************/
@media (min-width: 912px) {
    #close_menu {
        display: none;
    }

    #open_menu {
        display: none;
    }

    .menu_container {
        background-color: #1E2C38;
        display: inline-block;
        width: 100%;
    }

    .menu_container ul {
        padding-left: 15%;
    }

    .menu_container li {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        width: 210px;
        padding: 0px 0px 0px 0px;
    }

    .menu_container a {
        color: #ffffff;
        display: block;
        padding: 20px 0px;
        font-size: 20px;
    }


}

/**************************************/

/*********** smart screens ************/
@media (max-width: 912px) {
  .menu {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 1vw 1vw 0vw 0vw;
    text-align: right;
  }

  .menu_container {
    background-color: rgba(32,48,56, 0.5);
  }

  .menu_container li {
    text-align: center;
    padding: 1.2vw 0px;
  }

  .menu_container a {
      color: #7777ff;
      font-size: 3.2vw;
  }

  .menu .fas {
    font-size: 8vw;
  }

  .none {
    display: none;
  }

  @keyframes open {
    0% { height: 0px; }
    100% { height: 100vw; }
  }
  @keyframes close {
    0% { height: 100vw; }
    100% { height: 0px; }
  }
  .close {
    animation: close 1s ease 0s 1 alternate;
  }
  .open {
      animation: open 1s ease 0s 1 alternate;
  }
}
/**************************************/

/* サイドバー */
.sidebar {
  width: 300px;
  min-height: 500px;
  float: right;
  margin: auto;
  background-color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0 0 8px gray;
  margin: 8px;
}

.sidebar > img {
  width: 200px;
  border-radius: 50%;
  margin-top: 100px;
  margin: auto;
}

@media (max-width: 480px) {

.sidebar{
float: none;
font-size: 12px;
width: 90%;
margin: auto;
width: 150px;
}


.sidebar > img {
  width: 300px;

}
}

@media (max-width: 960px){

.sidebar {
  float: none;
  font-size: 12px;
  width: 90%;
  margin: auto;
}


.sidebar > img {
  width: 300px;

}
}
