html,
body {
    padding: 0;
    margin: 0;
/*    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  */
    font-family: 'Helvetica Neue','Helvetica','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
/*    font-family: serif;*/

}


.main-message {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;
    padding 0;
    width: 98vw;
    height: 100vh;
    background: url(IMG_0023.jpg) center center / cover no-repeat fixed;
    /* background-position: center center;
    background-repeat: no-repeat; */
    /* background-size: contain; */
    /* position: relative; */
}

.main-message::before {
    margin: 0;
    padding 0;
    background: inherit;
    content: "";
    filter: blur(0px);
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
}

.main-message p {
    margin: 0;
    padding 0;
    z-index: 2;
    font-size: 50px;
    /* opacity: 0.65;*/
    letter-spacing: 0.3em;
    background-color: black;
    color: white;
}

.main-message img {
    margin: 40px;
    margin-left: 60px;
/*    border: 10px solid #333;*/
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    /*
    height: 15vh;
    width: 35vw;
*/
}

.main-message ul {
    z-index: 2;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin-top: 0;
}

.main-message li {
    padding: 20px;
    padding-top: 6vh;
    font-size: 95%;

}

.main-menu {
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.3s;
}


.main-menu::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    background-color: black;
    transition: 0.2s;
}

.main-menu:hover::after {
    position: absolute;
    width: 100%
}


h1 {
    z-index: 1;
    font-weight: lighter;
    text-decoration: none;
    position: relative;
    transition: .3s;
    color: #333;
    height: 40px;
    margin: auto;
    text-align: center;
}

h1::after {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
/*    background-color: dodgerblue;*/
    transition: .3s;
    opacity: 0.65;
}

/*
h1:hover::after {
    position: absolute;
    z-index: -1;
    width: 0%
}
*/

.paragraph-title {

    font-size: 40px;
    padding: 40px 0px;
    margin: 0px 0px;
    margin-top: 200px;
    text-align: center;
    background-color: white;
}

.paragraph-box {
    display: flex;
/*    justify-content: space-around;*/
    justify-content: center;
    background-color: white;
    width: 90vw;
    height: 70vh;
    margin: 0px auto;
/*    border: solid 10px #3D58CC;*/
    border-top: 3px dotted dodgerblue;
/*    background-color: #CDDDED;*/
}
.paragraph-inbox {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px;
  margin-top: 200px;
  margin-bottom: 0px;

  overflow: hidden;
	width: 800px;
	height: 600px;
	/* margin: 20px auto; */
	border: 10px solid #ffffff;
	box-shadow: 0 0 5px #cccccc;
	cursor: pointer;

  text-align: center;
  align-items: center;

}

  /*TILT*/
.cp_tilt {
  	-webkit-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.cp_tilt:hover{
  	-webkit-transform: rotate(-10deg);
  	transform: rotate(-10deg);
}



.paragraph-inbox img {
    height: 320px;
    width: 360px;
    padding-bottom: 40px;
}

.paragraph-inbox p {
    text-align: center;
    font-size: 1vw;
}
